@import "components/variables.scss";
@import "components/normalize.css";
@import "components/adaptive_mixin.scss";


body {
    background: $gray;
    font-family: 'Inconsolata', monospace;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

h2 {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 34px;
    text-align: center;
    color: $orange;
    margin: 0;
}

@-webkit-keyframes blink {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

// header

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .logo-svg {
        margin: 20px;
    }

    .main-menu {
        width: 530px;
        margin: 20px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        row-gap: 10px;
        column-gap: 10px;

        .nav-item {
            font-weight: 700;
            font-size: 20px;
            color: $milk;
            opacity: .5;
            transition: .3s;
            padding: 15px;
            text-decoration: none;

            &:hover {
                opacity: 1;
            }
        }

        .active {
            color: $orange;
            opacity: 1;
        }
    }
}

// promo

.promo-wrapper {
    display: flex;
    flex-direction: column;
    max-height: 20%;
    padding: 50px 8px;

    @include _480 {
        align-items: center;
        justify-content: center;
    }

    .promo-inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
        padding-bottom: 30px;


        h1 {
            font-family: 'Inconsolata';
            font-style: normal;
            font-weight: 900;
            font-size: 48px;
            line-height: 67px;
            color: $orange;
            margin: 0;
        }

        h3 {
            font-family: 'Inconsolata';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 42px;
            color: $milk;
            margin: 0;
        }

        p {
            font-family: 'Inconsolata';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            color: $milk;
        }
        

    }

    .promo-photo-back {
        position: relative;
        justify-content: start;
        width: 100%;
        height: 300px;

        img {
            width: 200px;
        }

        pre {

            font-family: 'Inconsolata';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: $light-orange;

            @include _480 {
                font-family: Inconsolata;
                font-size: 9px;
                font-weight: 400;
                line-height: 13px;
                letter-spacing: 0em;
                text-align: left;

            }

            &:after {
                content: "|";
                animation: blink 500ms linear infinite alternate;
            }

        }

        img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

}

// about-me

.about-me-wrapper {
    padding: 30px 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    p {
        font-family: 'Inconsolata';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 25px;
        color: $milk;
    }

}

// skills

.skills {
    .skills-inner {
        padding: 50px 8px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        row-gap: 32px;

        .box-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            .box {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                row-gap: 15px;
                border-radius: 10px;
                background-color: $box-bg;
                width: 200px;
                height: 300px;



                h3 {
                    font-family: 'Arial';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 32px;
                    line-height: 37px;
                    color: #fff;
                }

                path {
                    fill: #F0E3CA;
                    transition: .3s;
                }

                &:hover:nth-child(1) {
                    path {
                        fill: #FC490B;

                    }
                }

                &:hover:nth-child(2) {
                    path {
                        fill: #2196F4;
                    }
                }

                &:hover:nth-child(3) {
                    path {
                        fill: #FFDF00;
                    }
                }

                &:hover:nth-child(4) {
                    path {
                        fill: #CA669B;
                    }
                }

                &:hover:nth-child(5) {
                    path {
                        fill: #F25234;
                    }
                }
            }
        }
    }
}

// my-works

.my-works {
    .box-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .box {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            row-gap: 15px;
            border-radius: 10px;
            background-color: transparent;
            max-width: 320px;
            max-width: 320px;

            h6 {
                font-family: 'Inconsolata';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 17px;
                color: $milk;
                border-bottom: 1px solid $orange;
                padding-bottom: 5px;
            }

            p {
                font-family: 'Inconsolata';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 17px;
                color: $milk;
            }

            h3 {
                font-family: 'Arial';
                font-style: normal;
                font-weight: 400;
                font-size: 32px;
                line-height: 37px;
                color: #fff;
            }

            a {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 12px 20px;
                gap: 10px;
                font-family: 'Inconsolata';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 15px;
                color: $milk;
                border-radius: 4px;
                background: $btn-color;
                cursor: pointer;
                position: relative;
            }
        }
    }
}


// footer

.footer {
    .footer-wrapper {
        display: flex;
        justify-content: space-around;
        padding: 50px 8px;

        @include _480 {
            flex-direction: column;
        }

        .footer-inner {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            gap: 16px;
            width: 35%;

            .contacts {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                row-gap: 25px;
    
    
                a {
                    display: flex;
                    flex-wrap: nowrap;
                    color: $orange;
                    text-decoration: none;
                    font-family: 'Inconsolata';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 25px;
                }
            }

            p {
                font-family: 'Inconsolata';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 21px;
                color: $milk;
            }

            @include _480 {
                align-items: center;
                width: 100%;
                text-align: center;
            }
        }

        
    }
}