@import "../scss/components/variables.scss";
@import "../scss/components/normalize.css";


body {
    background: $gray;
    font-family: 'Inconsolata', monospace;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

h2 {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 34px;
    text-align: center;
    color: $orange;
}

@-webkit-keyframes blink{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@-moz-keyframes blink{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@keyframes blink{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

// header

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .logo-svg {
        margin: 20px;
    }

    .main-menu {
        width: 530px;
        margin: 20px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        row-gap: 10px;
        column-gap: 10px;

        .nav-item {
            font-weight: 700;
            font-size: 20px;
            color: $milk;
            opacity: .5;
            transition: .3s;
            padding: 15px;
            text-decoration: none;

            &:hover {
                opacity: 1;
            }
        }

        .active {
            color: $orange;
            opacity: 1;
        }
    }
}

// promo

.promo-wrapper {
    display: flex;
    flex-wrap: nowrap;
    height: 550px;
    padding: 50px 8px;

    .promo-my-name {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: nowrap;
        gap: 15px;

        h1 {
            font-family: 'Inconsolata';
            font-style: normal;
            font-weight: 900;
            font-size: 48px;
            line-height: 67px;
            color: $orange;
        }

        h3 {
            font-family: 'Inconsolata';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 42px;
            color: $milk;
        }

        p {
            font-family: 'Inconsolata';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            color: $milk;
        }
    }

    .promo-photo-back {
        position: relative;
        


        pre {
            position: absolute;
            top: 0;
            left: 0;
            font-family: 'Inconsolata';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: $light-orange;

            &:after{
                content: "|";
                animation: blink 500ms linear infinite alternate;
            }
            
        }

        img {
            position: absolute;
            left: 200px;
            top: 150px;
        }

        .white-rectangle {
            top: 100px;
        }


    }
}

// about-me

.about-me-wrapper {
    padding: 50px 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    p {
        font-family: 'Inconsolata';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 25px;
        color: $milk;
    }

}

// skills

.skills {
    .skills-inner {
        padding: 50px 8px;
        display: flex;
        flex-direction: column;
        row-gap: 32px;

        .box-wrapper {
            display: flex;
            justify-content: space-around;

            .box {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                row-gap: 15px;
                border-radius: 10px;
                background-color: $box-bg;
                width: 200px;
                height: 300px;
                


                h3 {
                    font-family: 'Arial';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 32px;
                    line-height: 37px;
                    color: #fff;
                }

                path {
                    fill: #F0E3CA;
                    transition: .3s;
                }

                &:hover:nth-child(1) {
                    path {
                        fill: #FC490B;

                    }
                }

                &:hover:nth-child(2) {
                    path {
                        fill: #2196F4;
                    }
                }

                &:hover:nth-child(3) {
                    path {
                        fill: #FFDF00;
                    }
                }

                &:hover:nth-child(4) {
                    path {
                        fill: #CA669B;
                    }
                }

                &:hover:nth-child(5) {
                    path {
                        fill: #F25234;
                    }
                }
            }
        }
    }
}

// my-works

.my-works {
    .box-wrapper {
        display: flex;
        justify-content: space-around;

        .box {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            row-gap: 15px;
            border-radius: 10px;
            background-color: transparent;
            width: 320px;
            height: 320px;

            h6 {
                font-family: 'Inconsolata';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 17px;
                color: $milk;
                border-bottom: 1px solid $orange;
                padding-bottom: 5px;
            }

            p {
                font-family: 'Inconsolata';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 17px;
                color: $milk;
            }

            h3 {
                font-family: 'Arial';
                font-style: normal;
                font-weight: 400;
                font-size: 32px;
                line-height: 37px;
                color: #fff;
            }

            a {


                span {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 12px 20px;
                    gap: 10px;
                    font-family: 'Inconsolata';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 15px;
                    color: $milk;
                    border-radius: 4px;
                    background: $btn-color;
                }
            }
        }
    }
}

// footer

.footer {
    .footer-wrapper {
        display: flex;
        justify-content: space-around;
        padding: 50px 8px;

        .footer-inner {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            flex-wrap: wrap;
            padding: 0px;
            gap: 16px;
            width: 20%;

            p {
                font-family: 'Inconsolata';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 21px;
                color: $milk;
            }
        }

        .contacts-wrapper {
            width: 30%;

            .contacts {
                display: flex;
                flex-wrap: wrap;
                column-gap: 15px;

                .contacts-inner {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: flex-start;
                    row-gap: 15px;

                    a {
                        text-decoration: none;
                        display: flex;
                        flex-direction: row;
                        justify-content: start;
                        text-align: center;
                        gap: 5px;
                        font-family: 'Inconsolata';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 24px;
                        line-height: 25px;
                        color: $orange;
                    }
                }
            }
        }
    }
}